.info-container {
    text-align: center;
    margin: 30px;
}

.info-content {
    border: 1px solid black;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    text-align:left;
}

.info-description {
    margin-left: 10px;
}