.cardExample-card {
  width: 300px !important;
  height: 400px !important;
  display: inline-block !important;
}

.flex-item-cardExample {
  flex: 33%;
  margin: 20px auto;
}

.card-body {
  text-align: left;
}

.card-background-light {
  background-color: rgb(224, 224, 224) !important;
}

.card-background-dark p:nth-child(-n + 2) {
  border-bottom-color: #e0ac1c !important;
}

.card-background-dark {
  color: #e0ac1c !important;
  background-color: rgb(16, 17, 18) !important;
}

.card-background-yellow {
  background-color: #e0ac1c !important;
}

.card img {
  border-bottom: 1px solid black;
}

.card-body p:nth-child(-n + 2) {
  width: 100%;
  border-bottom: 1px solid black;
}

.home-cards-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.card-front-side {
  position: absolute !important;
  width: 100%;
  height: 100%;
  transition: 2s;
  backface-visibility: hidden;
}

.card-back-side {
  padding: 20px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  cursor: pointer;
  font-size: 17px;
}

.flippable-card {
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  transition: 2s;
}

.finish-rotate {
  transform-style: preserve-3d;
  transform: rotateY(360deg);
  transition: 2s;
}

.card-back-side-description {
  text-align: center;
}